{% extends 'base.html' %}
{% load static %}

{% block title %}Modify Address{% endblock %}

{% block content %}
<style>
    .profile-card {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 10px;
    }
</style>

<div style="display: flex; margin-top: 50px;">
    <div style="flex: 1; background-color: #f0f0f0;">
        <div class="container" style="flex: 3; background-color: white; height: 100%;">
            <div class="card-body">
                <div class="profile-card">
                    <h1 class="mb-4">Modify Address</h1>
                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="name" class="form-label">name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="name" required
                                   value="{{ address.receiver_name }}">
                        </div>

                        <div class="mb-3">
                            <label for="phone" class="form-label">Mobile Number</label>
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Mobile Number"
                                   required value="{{ address.receiver_phone }}">
                        </div>

                        <div class="mb-3">
                            <label for="province" class="form-label">County</label>
                            <input type="text" class="form-control" id="province" name="province" placeholder="County"
                                   required value="{{ address.province }}">
                        </div>

                        <div class="mb-3">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="City" name="city" placeholder="City" required
                                   value="{{ address.city }}">
                        </div>

                        <div class="mb-3">
                            <label for="district" class="form-label">district</label>
                            <input type="text" class="form-control" id="district" name="district"
                                   placeholder="House number, building, street.ect" required
                                   value="{{ address.district }}">
                        </div>

                        <div class="mb-3">
                            <label for="detail" class="form-label">Postcode</label>
                            <input class="form-control" id="detail" name="detail" rows="3" placeholder="Postcode"
                                   required value="{{ address.detail_address }}">
                        </div>

                        <div style="text-align: center">
                            <button type="submit" class="btn btn-primary">save address</button>
                            <a class="btn btn-primary" href="{% url 'profiles' id=user_id %}">return profile</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
