<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>增加地址</title>

    <link rel="stylesheet" href="/static/plugins/bootstrap-5.3.0/css/bootstrap.css">
    <style>
        .profile-card {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<div class="card-body">
    <div class="profile-card">
        <h1 class="mb-4">Modify Address</h1>
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="name" class="form-label">name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="name" required value="{{ address.receiver_name }}">
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label">Mobile Number</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Mobile Number" required value="{{ address.receiver_phone }}">
            </div>

            <div class="mb-3">
                <label for="province" class="form-label">County</label>
                <input type="text" class="form-control" id="province" name="province" placeholder="County" required value="{{ address.province }}">
            </div>

            <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="City" name="city" placeholder="City" required value="{{ address.city }}">
            </div>

            <div class="mb-3">
                <label for="district" class="form-label">district</label>
                <input type="text" class="form-control" id="district" name="district" placeholder="House number, building, street.ect" required value="{{ address.district }}">
            </div>

            <div class="mb-3">
                <label for="detail" class="form-label">Postcode</label>
                <input class="form-control" id="detail" name="detail" rows="3" placeholder="Postcode" required value="{{ address.detail_address}}">
            </div>

            <div style="text-align: center">
                <button type="submit"  class="btn btn-primary">save address</button>
                <a class="btn btn-primary" href="{% url 'profiles' id=consumer_id %}">返回主页</a>
            </div>

        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>