{% extends "base.html" %}
{% block content %}
    <h2 class="text-center mb-4">Add New Product</h2>
    <div class="container">
        <div class="card shadow-sm p-4">
            <form method="POST" enctype="multipart/form-data" lang="en">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    {{ form.name }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    {{ form.description }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Category</label>
                    {{ form.category }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Price (£)</label>
                    {{ form.price }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Stock</label>
                    {{ form.stock }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Image</label>
                    {{ form.image }}
                </div>
                <!-- update function: add variant -->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="use_variants" name="use_variants">
                    <label class="form-check-label" for="use_variants">
                        Please add new parameters (e.g. different sizes, colors, formats)
                    </label>
                    <div class="form-text">If selected, you will be redirected to add additional product parameters after creating the product.</div>
                </div>
                <button type="submit" class="btn btn-success w-100">Submit</button>
            </form>
            <a href="{% url 'products:product_list' %}" class="btn btn-secondary mt-3 w-100">Return to Product List</a>
        </div>
    </div>
{% endblock %}